.page_wrapper {
    display: flex;
    flex-direction: row; /* set to column to position dogs below other content */
    flex-wrap: wrap;
    min-width: 420px;
    min-height: 100vh;
}

.inner_wrapper {
    margin-left: 20px;
    background-color: var(--white);
    max-width: 60%;

}

/* Sizing of the dog images */

.dog {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;

}

.dog--golden {
    max-width: 100%;
    height: 16.7rem;
    margin: 0px 40px 0px 40px;
}

.dog--beagle {
    max-width: 100%;
    height: 10rem;
}
.dog--stafford {
    max-width: 100%;
    height: 14rem;
}

/* ####### other elements */

.round_image {
    border-radius: 100%;
    border: 5px solid var(--light-blue);
    height: 12em;
    width: 12em;
    object-fit: cover;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);

}

.see_you_soon {
    align-self: flex-start;
    margin-top: 2.5em;
    position: relative;

}
.see_you_soon::before {
    content: "See you soon!";
    font-family: "Sriracha", serif;
    display: inline-block;
    font-size: 1.8em;
    position: absolute;
    bottom: -47px;
    left: 20px;
    transform: rotateZ(-8deg);

}

.restart_button {
    margin: 20px;
    align-self: flex-end;
}

.results ul {
    list-style: disc;
    margin-left: 20px;

}

.results li {
    padding: 10px;
    text-align: left;
    box-shadow: none;
}


