.chow_image {
    position: absolute;
    left: 20px;
    height: 20rem;
    align-self: flex-end;

}

.information {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin: 0 20px;
    min-height: 800px;
    min-width: 420px;

}

.start_button {
    align-self: flex-end;
    margin: 20px;
    cursor: pointer;
    height: 100px;
    position: absolute;
    right: 0px;
}

@media screen and (min-width: 900px) {
    /* voor tablets */
    .information {
        min-height: 500px
    }

    .chow_image {
        left: 35rem;
    }
}

@media screen and (min-width: 1200px) {
    /* voor desktops */

    .chow_image {
        left: 50rem;
    }
}