nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
    background-color: var(--dark-blue);
    color: #FFF;
}

nav a {
    color: var(--white);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.logo-container h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    margin: 0 0 0 0.8em;

}

.logo {
    height: 55px;
    margin-top: -2px;
    margin-left: -3px;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.button_container p {
    font-size: 1.2em;
    white-space: nowrap;


}

.logout_button {
    background: none;
    height: auto;
    width: fit-content;
    font-size: 1.2em;
    margin: 0 20px 0 0px;
}

