@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sriracha&display=swap');

/*########## Colors ########## */

:root {
  --dark-blue: #0A3F5C;
  --light-blue: #1898DC;
  --white: #FFF;
}


/* ########## General styles ########### */

a {
  text-decoration: none;
}

p {
  max-width: 100%;
  margin-right: 20px;
}

h1 {
  font-family: "Sriracha", serif;
  margin: 10px 20px 0 0;

}


button {
  background-color: var(--light-blue);
  color: var(--white);
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.success_popup {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

/* ######## General structure for all pages ######## */

/*
.page_wrapper {
  display: flex;
  flex-direction: row; // set to column to position dogs below other content
  flex-wrap: wrap;
  min-width: 420px;
  min-height: 100vh;
}

.inner_wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  max-width: 60%;
  min-width: 420px;
  flex-grow: 2;
}

/* Sizing of the dog images */

.dog {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  margin: 20px 0 0 20px;
}

